.main-nav {
  min-height: 100px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.apart {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  min-height: 80vh;
  padding: 20px;
}

footer {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.blackText {
  color: black !important;
}

.better-smaller {
  width: min(95vw, 800px);
  margin: 0 auto;
}

.text-align-right {
  text-align: right;
}
